* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brown-color: #fec08c;
    --light-brown-color: #fce3cc;
    --dark-brown-color: #e5a978;

    --light-blue-color: #87deff;
    --dark-blue-color: #259faf;
    --blue-color: #226882;

    --white-color: #ffffff;
    --text-color-black: #666666;
    --header-color-black: #333333;
    --light-gray-color: #f4f3f3;
    --gray-color: #BFBFBF;

}

body {
    overflow-x: hidden;
    background-color: var(--brown-color);
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}



/* --- FONTS --- */



h1 {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 300;
    line-height: 1.2;

    font-size: 3.5rem;
    color: var(--white-color);
}

h2 {
    font-family: 'IBM Plex Serif', serif;
}

p, a, button {
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    max-width: 60rem;
    line-height: 1.7;
    font-size: 18px;
}

p.text-white {
    color: var(--white-color);
}

p.text-black {
    color: var(--text-color-black);
}



/* --- BUTTONS --- */



.default-button {
    display: inline-block;
    color: var(--white-color);
    border: 2px solid var(--white-color);
    border-radius: 5px;
    padding: 0.5rem 1rem; 
    font-size: 1rem;
    transition: all ease 0.2s;
}

.default-button:hover {
    transform: translateY(-5px);
}

.button-blue {
    background-color: var(--blue-color);
}

.button-lightbrown {
    background-color: var(--brown-color);
}



/* --- ICONS --- */



.material-symbols-outlined {
    color: var(--white-color);
}



/* --- LANDING --- */



#landing {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#landing .overlay-landing {
    width: 100vw;
    height: 100vh;

    z-index: 1;
    position: absolute;
    background-image: linear-gradient(rgba(254, 192, 140, 0.8), rgba(37, 159, 175, 0.8));
}

#landing h1 span {
    font-style: italic;
    font-weight: 500;
}

.background-general {
    width: calc(100vw + 40px);
    height: calc(100vh + 40px);

    position: relative;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    position: absolute;
}

#landing .background-landing {
    background: url(../images/landing-image-paddling.png);
    background-position: 75% center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;

    z-index: 0;

    -webkit-animation: background-moving 30s ease-in-out infinite;
    animation: background-moving 30s ease-in-out infinite;
}

@-webkit-keyframes background-moving {
    0% {
     -webkit-transform:translate3d(-40px,0,0);
     transform:translate3d(-40px,0,0)
    }
    50% {
     -webkit-transform:translate3d(0px,-40px,0);
     transform:translate3d(0px,-40px,0)
    }
    100% {
     -webkit-transform:translate3d(-40px,0,0);
     transform:translate3d(-40px,0,0)
    }
   }

#landing .content-landing {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);

    z-index: 2;
}

#landing .content-landing a {
    margin-top: 2rem;
}

#landing span.material-symbols-outlined {
    font-size: 2rem;

    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    animation: arrow-animation 5s ease infinite;
    transition: all ease 0.3s;

    z-index: 1;
}

#landing span:hover {
    transform: translateY(-3px);
}

#landing .link-paddle {
    color: var(--white-color);
    border-bottom: 3px solid var(--brown-color);
    border-radius: 1px;

    position: absolute;
    bottom: 1.5rem;
    text-align: center;
    transition: all ease 0.3s;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1;
}

#landing .link-paddle:hover {
    transform: translateY(-3px);
    border-bottom: 3px solid var(--brown-color);
}


@keyframes arrow-animation {
    0%{transform: translate(0, 0px);}
	4%{transform: translate(0,-5px);}
	8%{transform: translate(0,5px);}
	12%{transform: translate(0,-3px);}
	16%{transform: translate(0,3px);}
	20%{transform: translate(0,-1px);}
	22%{transform: translate(0,1px);}
	24%{transform: translate(0,0);}
    100%{transform: translate(0,0);}
}

.gradient-landing {
    width: 100%;
    height: 10rem;

    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, var(--dark-blue-color) 95%, var(--dark-blue-color) 100%);
    position: absolute;
    bottom: 0;
    z-index: 1;
}



/* --- SURFING --- */



#surfing {
    width: 100vw;
    /* height: 100vh; */
    position: relative;

    text-align: center;
    background: linear-gradient(to top, rgba(252, 227, 204, 0.9) 25%, rgba(37, 159, 175, 1) 25%, rgba(37, 159, 175, 1) 100%);
}

#surfing .content-surfing {
    margin: auto;
}

#surfing h1 {
    text-align: center;
    display: inline-block;

    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    background: linear-gradient(to top, var(--blue-color) 35%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 100%);
    border-radius: 2rem;
}

#surfing p {
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
}

#surfing .surfing-photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
}

#surfing .surfing-photos img {
    width: 100%;
    height: auto;
    border: 7px solid #fff;
    border-radius: 5px;
    object-fit: cover;
}



/* --- BENEFITS --- */



#benefits {
    width: 100vw;
    /* height: 100vh; */

    text-align: left;
    padding-bottom: 2rem;

    position: relative;
    background-color: rgba(252, 227, 204, 0.9);
}

#benefits .background-benefits {
    background: url(../images/landing-image-paddling.png);
    background-position: 75% center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;

    z-index: -1;

    height: 100%;
    background: url(../images/sand.jpg);
    background-position: 75% center;
}

#benefits .content-benefits {
    margin: auto;
    padding: 0rem 1rem;
}

#benefits .container-image {
    width: calc(100vw + 40px);
    height: calc(400px + 40px);
    background-color: red;
}

#benefits .container-image .moving-image {
    width: calc(100vw + 40px);
    height: calc(400px + 40px);

    background: url(../images/surfing-1.jpg);
    background-position: 75% center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;

    z-index: 0;

    -webkit-animation: background-moving-horizontal 30s ease-in-out infinite;
    animation: background-moving-horizontal 30s ease-in-out infinite;
}

@-webkit-keyframes background-moving-horizontal {
    0% {
     -webkit-transform:translate3d(-40px,0,0);
     transform:translate3d(-40px,0,0)
    }
    50% {
     -webkit-transform:translate3d(0px,0,0);
     transform:translate3d(0px,0,0)
    }
    100% {
     -webkit-transform:translate3d(-40px,0,0);
     transform:translate3d(-40px,0,0)
    }
   }

#benefits .border-benefits {
    margin: auto;
    border: 10px solid var(--light-gray-color);
    border-bottom: 0px;
    max-width: calc(60rem + 2rem);
}

#benefits .border-benefits:first-child {
    max-width: calc(60rem + 6rem);
    border: 10px solid var(--light-gray-color);
    border-top: 0px;
    margin-bottom: 2rem;
}

#benefits h1 {
    color: var(--text-color);
    text-align: center;
    display: inline-block;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    background: linear-gradient(to top, rgba(255, 255, 255, 0.5) 35%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 100%);
    border-radius: 2rem;
}

#benefits .content-benefits .text-benefits {
    background-color: var(--white-color);
    padding: 3rem;
}

#benefits h2 {
    color: var(--header-color-black);
}

#benefits .content-benefits span.blue-line {
    display: inline-block;
    width: 50px;
    height: 3px;
    color: var(--blue-color);
    background-color: var(--light-blue-color);
    border-radius: 2px;
    content: '';
    margin: 0.8rem 0rem 0.7rem 0rem;
}



/* --- END --- */



#end {
    width: 100vw;
    height: 100vh;

    position: relative;
}

#end .overlay-end {
    width: 100vw;
    height: 100vh;

    z-index: 1;
    position: absolute;
    background-color: rgba(34, 104, 130, 0.8);
}

#end .background-end {
    background-position: 75% center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;

    z-index: -1;

    background: url(../images/sea.jpg);
    background-position: top center;
}

#end .gradient-end {
    width: 100vw;
    height: 10rem;

    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, var(--dark-blue-color) 95%, var(--dark-blue-color) 100%);
    position: absolute;
    bottom: 0;
    z-index: 3;
}

#end img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;

    object-position: right;
}

#end h1 {
    color: var(--text-color);
    text-align: center;
    display: inline-block;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    background: linear-gradient(to top, rgba(255, 255, 255, 0.9) 35%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0) 100%);
    border-radius: 2rem;
    z-index: 1;
}

#end p {
    padding: 2rem;
    background-color: var(--white-color);
    border: 10px solid var(--light-gray-color);
    text-align: center;
}

#end p a {
    color: var(--brown-color);
    text-decoration: underline;
    transition: all ease 0.3s;
}

#end p a:hover {
    color: var(--dark-brown-color);
}

#end .content-end {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 1;
}

#end .center-end {
    margin-top: 2rem;
    text-align: center;
}


/* --- FOOTER --- */



footer {
    width: 100vw;
    position: relative;

    background-color: var(--dark-blue-color);
    color: var(--white-color);
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

footer p {
  padding: 0rem 2rem;  
  font-size: 14px;
  font-style: italic;
  text-align: center;
  padding: 1rem;
  z-index: 1;
}

/* footer .overlay-footer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(254, 192, 140, 0.95);
} */

/* TABLET */
@media only screen and (min-width: 48rem) {

    #surfing {
        height: 100vh;
    }

    #surfing .surfing-photos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    
        position: absolute;
        bottom: 25%;
        transform: translateY(50%);
    }
    
    #surfing .surfing-photos img {
        width: 200px;
        height: 200px;
        margin: 1rem;
    }

    #benefits .content-benefits {
        margin: auto;
        padding: 0rem 3rem;
    }

}

/* DESKTOP */
@media only screen and (min-width: 64rem) {

    h1 {
        font-size: 4rem;
    }


    #landing {
        background-position: top center;
    }

    #landing .link-paddle {
        position: absolute;
        transform: inherit;
        left: inherit;
        right: 2rem;
        bottom: 2rem;
    }

    #surfing .surfing-photos {
        
    }
    
    #surfing .surfing-photos img {
        width: 275px;
        height: 275px;
    }

}